[{rabbit, [
     {tcp_listeners, [{"127.0.0.1", 5671},
                     {"::1",       5671}]},
     {ssl_listeners, [{"0.0.0.0", 5672},
                     {"::1",       5672}]},

     {ssl_options, [{cacertfile,"/etc/rabbitmq/ssl/cacert.pem"},
                    {certfile,"/etc/rabbitmq/ssl/cert.pem"},
                    {keyfile,"/etc/rabbitmq/ssl/key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,false}]}
   ]},

  {rabbitmq_management,
               [{listener, [{port,     15672},
               {ssl,      true},
               {ssl_opts, [{cacertfile, "/etc/rabbitmq/ssl/cacert.pem"},
                           {certfile,   "/etc/rabbitmq/ssl/cert.pem"},
                           {keyfile,    "/etc/rabbitmq/ssl/key.pem"}]}
              ]}
  ]}
].
